<header class="header">
    <div class="header__container">
        <h1 class="nav__logo">Owitech</h1>
        <label for="menu" class="nav__label">
            <img src="assets/image/menu.svg" alt="mylogo" class="nav__img">
        </label>
        <input type="checkbox" id="menu" class="nav__input">
        <ul class="nav__menu">
            <li><a href="#" class=nav__item>Inicio</a></li>
            <li><a href="#" class=nav__item>Nosotros</a></li>
            <li><a href="#" class=nav__item>Contactenos</a></li>
        </ul>
    </div>
</header>